<!DOCTYPE html>
<html>
  <head>
    <title>SkydropxTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <nav class="nav-extended navbar-fixed">
      <% if user_signed_in? %>
        <div class="nav-wrapper">
          <ul class="left">
            <li>Logged in as <strong><%= current_user.email %></strong>.</li>
          </ul>
          <ul class="right hide-on-med-and-down">
            <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
          </ul>
        </div>
        <div class="nav-content">
          <span class="nav-title"></span>
          <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal" href="<%=new_shipment_path%>">
            <i class="material-icons">add</i>
          </a>
        </div>
      <% else %>
        <div class="nav-wrapper">
          <ul>
            <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
            <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
          </ul>
        </div>
      <% end %>
    </nav>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
